.matrix-center {
	margin: 0 auto;
}

.chart {height:400px; width:700px; }

x-bar {
    float:left;
    width:200px;
}
#controls {
    width:400px;
    height:200px;
    float:left;
}
#controls div.label {
    clear:both;
    float:left;
}
#controls .control {
    float:right;
}
#controls input {
    text-align:right;
}